# macOS system & meta
.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# AFP remote share dirs
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# File specific
scripts/apps.zsh
lvim/lazy-lock.json
nvim/lazy-lock.json

# Editor & backup files
*.swp
*.swo
*.bak
*.un~
*~
